<!DOCTYPE html>
<title>level5</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
<style>
    h1 {
    color: #12100f;
    font-size: 55px;
    }

    body {
    max-width: 1200px;
    margin: 0 auto;
    background: rgb(244, 247, 243);
    }

    .menuBtn {
    margin-top: 50px;
    margin-left: 440px;
    margin-bottom: 10px;
    color: #12100f;
    background: #bfedec;
    border-radius: 15px;
    border: 0px;
    height: 50px;
    width: 300px;
    }

    .menuBtn:hover {
    cursor: pointer;
    transition: all 0.5s;
    transform: scale(120%, 120%);
    }
</style>


<header>
    <h2 style="margin-right:1%;text-align:center;"><label for="text">图片换脸ing</label> </h2>
    <h3 style="margin-right:1%;text-align:center;"><label for="text">换脸结果将保存至py文件同目录下'output.jpg'</label> </h3>
    <h3 style="margin-right:1%;text-align:center;"><label for="text">点击页面最下方的返回键可以返回菜单界面</label> </h3>
</header>
<form method="post" enctype="multipart/form-data">
    <h3 style="text-align:center;">换脸预览马上为您呈现<br>请等待...</h3>
    <div style = " margin-left:15%;width: 70%; text-align: center;">
        <img id="bg"  src="{{ url_for('faceswap_picture_response') }}"><br> 
    </div>
    <input id="back_btn" name="back_btn" type="submit" value="返回" class="menuBtn"> 
    <!-- <div style = "margin-left:15%; width: 70%; text-align: center;">
        <img id="bg"  src="{{ url_for('faceswap_picture_response') }}"><br> -->
</form>
</body>
</html>