a {
  color: aquamarine;
  text-decoration: none
}

button {
  cursor: pointer;
  transition: all 0.5s;
  transform: scale(120%, 120%);
}

input {
  cursor: pointer;
  transition: all 0.5s;
  transform: scale(120%, 120%);
}